html{
    width: 1350px;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,176,172,0.020133053221288555) 0%, rgba(29,31,136,0.695203081232493) 100%); */
}


body{
    /* background-color: white; #f7f2dc */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,176,172,0.020133053221288555) 0%, rgba(29,31,136,0.695203081232493) 100%);
}

.contenedor-principal{
    width: 1300px;
    border-width: 1px;
    /* margin: auto; */
}

table{
    /* display: inline-block; */
    margin: 5px auto  ;
    /* border: solid; */
    border-radius: 20px;
    text-align: center;
}

th, td {
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 5px 5px 5px ;
    text-align: left;
}


.frac{
    background-color: blue;
    color: white;
    
}

.productos li{
    display: block;
    vertical-align: top;
}


.productos li{
    display: inline-block;
    margin-left: 20% ;
}

.col1{
    margin-top: 100px;
    width: 49%;
    height: 49%;
}

.col2{
    margin-top: 5px;
    width: 49%;
    height: 49%;
} 

thead{
    background-color: #3f87a6;
    color: white;
}


tbody{
    background-color: #e4f0f5;
}

thead th:nth-child(odd) {
    background-color: #054c6b;
}

tbody td:nth-child(odd) {
    background-color: #cbe3ed;
}

#tab-tit{
    background-color: #057bad;
    text-align: center;
}

#partefinaltabla{
    text-align: center;
}

#t2_ th{
    text-align:center;
}
